<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="Physics Project" />
    <meta charset="utf-8">
    <title>Faraday Law</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Jarosz Marcel, Drygaś Filip">
    <link rel="stylesheet" href="/style.css">
    <script src="/p5.js"></script>
    <script src="/draggableMagnet.js"></script>
    <script src="/rectangle.js"></script>
    <script src="/bulb.js"></script>
    <script src="/graph.js"></script>
    <script src="/main.js"></script>
</head>

<body>

</body>

</html>